{% extends "emails/verification_base.html" %}
{% block html_lang %}pt-BR{% endblock %}
{% block tagline %}Para investidores em valor{% endblock %}
{% block heading %}Confirme seu email{% endblock %}
{% block body %}Clique no botão abaixo para verificar seu email e ativar todas as funcionalidades da Sponda.{% endblock %}
{% block cta_button %}Verificar email{% endblock %}
{% block expiry_note %}Este link expira em 72 horas.{% endblock %}
{% block footer_recipient_note %}Você recebeu este email porque criou uma conta na Sponda.{% endblock %}
