{% extends "emails/verification_base.html" %}
{% block html_lang %}de{% endblock %}
{% block tagline %}Für Value-Investoren{% endblock %}
{% block heading %}Bestätige deine E-Mail{% endblock %}
{% block body %}Klicken Sie auf die Schaltfläche unten, um Ihre E-Mail zu bestätigen und alle Sponda-Funktionen zu aktivieren.{% endblock %}
{% block cta_button %}E-Mail bestätigen{% endblock %}
{% block expiry_note %}Dieser Link läuft in 72 Stunden ab.{% endblock %}
{% block footer_recipient_note %}Sie erhalten diese E-Mail, weil Sie ein Sponda-Konto erstellt haben.{% endblock %}
