{% extends "emails/verification_base.html" %}
{% block html_lang %}fr{% endblock %}
{% block tagline %}Pour les investisseurs value{% endblock %}
{% block heading %}Confirmez votre e-mail{% endblock %}
{% block body %}Cliquez sur le bouton ci-dessous pour vérifier votre e-mail et activer toutes les fonctionnalités de Sponda.{% endblock %}
{% block cta_button %}Vérifier l'e-mail{% endblock %}
{% block expiry_note %}Ce lien expire dans 72 heures.{% endblock %}
{% block footer_recipient_note %}Vous recevez cet e-mail car vous avez créé un compte Sponda.{% endblock %}
