{% extends "emails/verification_base.html" %}
{% block html_lang %}it{% endblock %}
{% block tagline %}Per investitori value{% endblock %}
{% block heading %}Conferma la tua email{% endblock %}
{% block body %}Clicca sul pulsante qui sotto per verificare la tua email e attivare tutte le funzionalità di Sponda.{% endblock %}
{% block cta_button %}Verifica email{% endblock %}
{% block expiry_note %}Questo link scade in 72 ore.{% endblock %}
{% block footer_recipient_note %}Hai ricevuto questa email perché hai creato un account Sponda.{% endblock %}
