{% extends "emails/verification_base.html" %}
{% block html_lang %}en{% endblock %}
{% block tagline %}For value investors{% endblock %}
{% block heading %}Confirm your email{% endblock %}
{% block body %}Click the button below to verify your email and activate all Sponda features.{% endblock %}
{% block cta_button %}Verify email{% endblock %}
{% block expiry_note %}This link expires in 72 hours.{% endblock %}
{% block footer_recipient_note %}You received this email because you created a Sponda account.{% endblock %}
