{% extends "emails/welcome_base.html" %}
{% block html_lang %}en{% endblock %}
{% block tagline %}For value investors{% endblock %}
{% block welcome_heading %}Welcome!{% endblock %}
{% block welcome_body %}Your account has been created. You now have access to everything Sponda offers.{% endblock %}
{% block feature_favorite_title %}Favorite companies{% endblock %}
{% block feature_favorite_desc %}Follow the companies that matter most to you right on the homepage.{% endblock %}
{% block feature_savedlists_title %}Save comparison lists{% endblock %}
{% block feature_savedlists_desc %}Build, save and share comparative analyses with anyone.{% endblock %}
{% block feature_indicators_title %}Inflation-adjusted indicators{% endblock %}
{% block feature_indicators_desc %}P/E, P/FCF, PEG, CAGR and leverage &middot; all inflation-adjusted, and much more.{% endblock %}
{% block cta_button %}Explore now{% endblock %}
{% block share_title %}Share Sponda{% endblock %}
{% block footer_tool_by %}A tool by{% endblock %}
{% block footer_recipient_note %}You received this email because you created a Sponda account.{% endblock %}
