{% extends "emails/welcome_base.html" %}
{% block html_lang %}de{% endblock %}
{% block tagline %}Für Value-Investoren{% endblock %}
{% block welcome_heading %}Willkommen!{% endblock %}
{% block welcome_body %}Ihr Konto wurde erstellt. Sie haben jetzt Zugriff auf alle Funktionen von Sponda.{% endblock %}
{% block feature_favorite_title %}Lieblingsunternehmen{% endblock %}
{% block feature_favorite_desc %}Verfolgen Sie die Unternehmen, die Ihnen am wichtigsten sind, direkt auf der Startseite.{% endblock %}
{% block feature_savedlists_title %}Vergleichslisten speichern{% endblock %}
{% block feature_savedlists_desc %}Erstellen, speichern und teilen Sie Ihre Vergleichsanalysen mit beliebigen Personen.{% endblock %}
{% block feature_indicators_title %}Inflationsbereinigte Kennzahlen{% endblock %}
{% block feature_indicators_desc %}KGV, P/FCF, PEG, CAGR und Verschuldung &middot; alles inflationsbereinigt, und vieles mehr.{% endblock %}
{% block cta_button %}Jetzt erkunden{% endblock %}
{% block share_title %}Sponda teilen{% endblock %}
{% block footer_tool_by %}Ein Tool von{% endblock %}
{% block footer_recipient_note %}Sie erhalten diese E-Mail, weil Sie ein Sponda-Konto erstellt haben.{% endblock %}
